@inherits FIRBase<ConstBitRange>

<div id="@SizeWatcherID" class="component bitRange sequential" style="left:@Position.X.ToPixels();top:@Position.Y.ToPixels();min-width:@HEIGHT.ToPixels();min-height:@WIDTH.ToPixels();">
    <div style="padding:5px;">@Operation.OpName</div>

    @foreach (var input in SinkOffsets)
    {
        <IOPortUI Position="@input.Position" IO="@input.IO"></IOPortUI>
    }

    @foreach (var output in SourceOffsets)
    {
        <IOPortUI Position="@output.Position" IO="@output.IO"></IOPortUI>
    }
</div>

@code {
    private const int HEIGHT = 20;
    private const int WIDTH = 40;

    protected override DirectedIO[] OnMakeSinks(int width, int height)
    {
        Point inputOffset = new Point(0, height / 2);

        return new DirectedIO[]
        {
            new DirectedIO(Operation.In, inputOffset, MoveDirs.Right)
        };
    }

    protected override DirectedIO[] OnMakeSources(int width, int height)
    {
        Point outputOffset = new Point(width, height / 2);

        return new DirectedIO[]
        {
            new DirectedIO(Operation.Result, outputOffset, MoveDirs.Right)
        };
    }
}
