@inherits FIRBase<Mux>

<div id="@SizeWatcherID" class="muxContainer" style="left:@Position.X.ToPixels();top:@Position.Y.ToPixels();">
    <div class="muxShape" style="height:@GetCurrentSize().Y.ToPixels();"></div>

    @if (DeciderIO != null)
    {
        <IOPortUI Position="@DeciderIO.Position" IO="@DeciderIO.IO"></IOPortUI>
    }
    <ScopedIOUI NodeIO="@ChoiseIO"></ScopedIOUI>
    <ScopedIOUI NodeIO="@ResultIO"></ScopedIOUI>
</div>




@code
{
    private const int HEIGHT = 50;
    private const int WIDTH = 25;
    private const int INDENT = 12;
    private const int USABLE_CHOISE_HEIGHT = 25;
    private DirectedIO DeciderIO = null;
    private ScopedNodeIO ChoiseIO = null;
    private ScopedNodeIO ResultIO = null;

    protected override void OnFirstParametersSetAsync()
    {
        int heightForSlope = INDENT * 2;
        int heightForIO = Operation.Choises.Length * IOPositionCalc.MinSpaceBetweenIO;
        SetCurrentSize(new Point(WIDTH, heightForSlope + heightForIO));

        base.OnFirstParametersSetAsync();
    }

    protected override DirectedIO[] OnMakeInputs(int width, int height)
    {
        //Add chose input
        Point deciderOffset = new Point(WIDTH / 2, INDENT / 2);
        DeciderIO = new DirectedIO(Operation.Decider, deciderOffset, MoveDirs.Down);

        ChoiseIO = IOPositionCalc.VerticalScopedIO(Operation.Choises.ToArray(), 0, INDENT, INDENT);
        ChoiseIO.VerticalRecenter(height);

        DirectedIO[] choiseDirIO = ChoiseIO.GetInputDirIO();
        DirectedIO[] inputIO = new DirectedIO[choiseDirIO.Length + 1];
        inputIO[0] = DeciderIO;
        Array.Copy(choiseDirIO, 0, inputIO, 1, choiseDirIO.Length);
        return inputIO;
    }

    protected override DirectedIO[] OnMakeOutputs(int width, int height)
    {
        ResultIO = IOPositionCalc.VerticalScopedIO(new FIRIO[] { Operation.Result }, WIDTH, INDENT, INDENT);
        ResultIO.VerticalRecenter(GetCurrentSize().Y);

        return ResultIO.GetOutputDirIO();
    }

}
