@page "/circuitviewer"
@page "/"
@using FIRRTL
@using VCDReader
@using ChiselDebug.Timeline;

@inject IJSRuntime JS;

<CascadingValue Value="@DebugCtrl" Name="DebugCtrl" IsFixed="true">
    <TimelineUI />
    <div style="height:20px;" />
    <div id="CircuitContainer" class="Circuit" style="transform: translate(@CircuitPosOffset.X.ToPixels(), @CircuitPosOffset.Y.ToPixels()) scale(@CircuitScale.ToHtmlNumber());">
        @foreach (var modulePos in ModulePositions)
        {
            <ModuleUI PosOp="@modulePos" />
        }
    </div>
</CascadingValue>





@code
{

    private DebugController DebugCtrl;
    private List<Positioned<ChiselDebug.GraphFIR.Module>> ModulePositions = new List<Positioned<ChiselDebug.GraphFIR.Module>>();
    private float CircuitScale = 1.0f;
    private Point CircuitPosOffset = new Point(0, 0);

    protected override void OnInitialized()
    {
        //var circuit = FIRRTL.Parse.FromFile("Examples/MovingAveragePow2.lo.fir");
        //var vcd = VCDReader.Parse.FromFile("Examples/MovingAveragePow2.vcd");
        var circuit = FIRRTL.Parse.FromFile("Examples/RegFileVec.lo.fir");
        var vcd = VCDReader.Parse.FromFile("Examples/RegFileVec.vcd");
        CircuitGraph graph = CircuitToGraph.GetAsGraph(circuit);
        graph.InferTypes();

        VCDTimeline timeline = new VCDTimeline(vcd);

        DebugCtrl = new DebugController(graph, timeline);
        DebugCtrl.OnReRender += () => InvokeAsync(StateHasChanged);

        ModulePositions.Add(new Positioned<ChiselDebug.GraphFIR.Module>(new Point(0, 0), graph.Modules[0]));


    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ValueTask addScrollTask = JSEvents.AddScrollListener(JS, "CircuitContainer", x => InvokeAsync(() => HandleScroll(x)));
            ValueTask addDragTask = JSEvents.AddDragListener(JS, "CircuitContainer", x => InvokeAsync(() => HandleDrag(x)));
            return Task.WhenAll(addScrollTask.AsTask(), addDragTask.AsTask());
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    private void HandleScroll(int scrollDelta)
    {
        CircuitScale -= scrollDelta / 10.0f;
        CircuitScale = Math.Clamp(CircuitScale, 0.1f, 10.0f);
        StateHasChanged();
    }

    private void HandleDrag(Point dragged)
    {
        CircuitPosOffset += dragged;
        StateHasChanged();
    }
}
