@using System.Globalization
@using VCDReader
@using ChiselDebug.Timeline

@inject IJSRuntime JS
@inherits ManualRenderBase

<div class="timelineContent">
    <div class="timelineControlsContent">
        <input type="number" min="@AllTimes.First()" max="@AllTimes.Last()" value="@CurrTime" pattern="\d+" title="Positive numbers only." @oninput="TimeChanged" />
    </div>
    <div class="timelineRangeContent">
        <div class="ticksPadding">
            <div class="rangeSelect" @ref="RangeDiv" @onmousedown="RangeSelectStarted" @ondblclick="ResetRange">
                @if (StartRangeSelect <= EndRangeSelect)
                {
                    <div class="rangeStart" style="left: 0px; width: @GetPixels(StartRangeSelect).ToPixels();"></div>
                    <div class="rangeStop" style="left: @GetPixels(EndRangeSelect).ToPixels(); width: @(((float)RangeParentWidth - GetPixels(EndRangeSelect)).ToPixels());"></div>
                }
                else
                {
                    <div class="rangeStart" style="left: 0px; width: @(GetPixels(EndRangeSelect).ToPixels());"></div>
                    <div class="rangeStop" style="left: @GetPixels(StartRangeSelect).ToPixels(); width: @(((float)RangeParentWidth - GetPixels(StartRangeSelect)).ToPixels());"></div>
                }
            </div>
        </div>
        <input class="timeline" type="range" min="@StartTime" max="@EndTime" value="@CurrTime" list="steplist" @oninput="TimeChanged" />
        <div class="ticksPadding">
            <div class="ticksList">
                @foreach (var time in TimeSteps)
                {
                    <tick style="left: @($"{GetXPercent(time).ToPercent()}"); top: 0px;">@time.ToStringWithDots()</tick>
                }
            </div>
        </div>
    </div>

    <datalist id="steplist">
        @foreach (var time in TimeSteps)
        {
            <option value="@time"></option>
        }
    </datalist>
</div>

@code {
    [CascadingParameter(Name = "DebugCtrl")]
    protected DebugController DebugCtrl { get; set; }

    [CascadingParameter(Name = "DocEvents")]
    protected MainLayout DocEvents { get; set; }


    private double RangeParentStartX;
    private double RangeParentWidth;
    private ulong StartRangeSelect;
    private ulong EndRangeSelect;
    protected ElementReference RangeDiv;

    private ulong CurrTime;
    private ulong StartTime;
    private ulong EndTime;
    private ulong[] AllTimes;
    private List<ulong> TimeSteps = new List<ulong>();

    public float GetXPercent(ulong time)
    {
        return (((float)time - StartTime) / (EndTime - StartTime)) * 100;
    }

    public float GetPixels(ulong time)
    {
        return (GetXPercent(time) / 100) * (float)RangeParentWidth;
    }

    public ulong GetTimeFromPos(double xToTime)
    {
        double xPercent = xToTime / RangeParentWidth;
        double time = StartTime + EndTime * xPercent - xPercent * StartTime;

        ulong utime = (ulong)Math.Round(time);
        return Math.Clamp(utime, StartTime, EndTime);
    }

    protected override void OnFirstParametersSetAsync()
    {
        VCDTimeline timeline = DebugCtrl.Timeline;
        StartTime = timeline.TimeInterval.StartInclusive;
        EndTime = timeline.TimeInterval.InclusiveEnd();
        CurrTime = StartTime;
        AllTimes = timeline.GetAllSimTimes().ToArray();

        MakeTimeTicks();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            RangeParentStartX = (await JS.InvokeAsync<ElemWH>("JSUtils.getElementPosition", RangeDiv)).Width;
            RangeParentWidth = (await JS.InvokeAsync<ElemWH>("JSUtils.getElementSize", RangeDiv)).Width;
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void MakeTimeTicks()
    {
        Span<ulong> times = GetTimelineSlice(StartTime, EndTime);

        if (times.Length == 0)
        {
            times = AllTimes;
            StartTime = AllTimes.First();
            EndTime = AllTimes.Last();
        }

        StartRangeSelect = StartTime;
        EndRangeSelect = EndTime;

        TimeSteps.Clear();
        const int maxTimesOnTimeline = 15;
        if (times.Length > maxTimesOnTimeline)
        {
            float distanceBetweenTimes = times.Length / (float)(maxTimesOnTimeline - 1);
            for (int i = 0; i < maxTimesOnTimeline - 1; i++)
            {
                TimeSteps.Add(times[(int)MathF.Round(distanceBetweenTimes * i)]);
            }
            TimeSteps.Add(times[^1]);
        }
        else
        {
            for (int i = 0; i < times.Length; i++)
            {
                TimeSteps.Add(times[i]);
            }
        }
    }

    private Span<ulong> GetTimelineSlice(ulong fromTimeInclusive, ulong toTimeInclusive)
    {
        int startIndex = Array.BinarySearch(AllTimes, fromTimeInclusive);
        int endIndex = Array.BinarySearch(AllTimes, toTimeInclusive);

        return AllTimes.AsSpan(startIndex, endIndex - startIndex + 1);
    }

    private void TimeChanged(ChangeEventArgs args)
    {
        if (ulong.TryParse((string)args.Value, out ulong time) &&
            time != CurrTime)
        {
            //Limit to range of timeline
            time = Math.Clamp(time, AllTimes.First(), AllTimes.Last());

            ulong inTimeline = GetClosestTime(time);

            //changed time may lie outside the timeline range.
            //in that case set resize the range to include the
            //time.
            if (inTimeline < StartTime || inTimeline > EndTime)
            {
                StartTime = Math.Min(StartTime, inTimeline);
                EndTime = Math.Max(EndTime, inTimeline);
                MakeTimeTicks();
            }

            if (CurrTime != inTimeline)
            {
                CurrTime = inTimeline;
                DebugCtrl.SetCircuitState(CurrTime);
            }

            StateHasChanged();
        }
    }

    private ulong GetClosestTime(ulong time)
    {
        //Try find ex
        int matchIndex = Array.BinarySearch(AllTimes, time);

        //If no exact match then find closest match
        if (matchIndex < 0)
        {
            for (int i = 0; i < AllTimes.Length - 1; i++)
            {
                if (AllTimes[i] < time && time < AllTimes[i + 1])
                {
                    if (time - AllTimes[i] < AllTimes[i + 1] - time)
                    {
                        matchIndex = i;
                    }
                    else
                    {
                        matchIndex = i + 1;
                    }

                    break;
                }
            }
        }

        if (matchIndex < 0)
        {
            matchIndex = AllTimes.Length - 1;
        }

        return AllTimes[matchIndex];
    }

    private void RangeSelectStarted(MouseEventArgs args)
    {
        double relXPos = Math.Max(0.0, args.ClientX - RangeParentStartX);
        ulong timeFromPos = GetTimeFromPos(relXPos);
        StartRangeSelect = GetClosestTime(timeFromPos);
        EndRangeSelect = StartRangeSelect;

        DocEvents.OnMouseUp += RangeSelectEnded;
        DocEvents.OnMouseMove += RangeSelectMove;

        StateHasChanged();
    }
    private void RangeSelectEnded(MouseEventArgs args)
    {
        DocEvents.OnMouseUp -= RangeSelectEnded;
        DocEvents.OnMouseMove -= RangeSelectMove;

        double relXPos = Math.Max(0.0, args.ClientX - RangeParentStartX);
        ulong timeFromPos = GetTimeFromPos(relXPos);
        EndRangeSelect = GetClosestTime(timeFromPos);

        if (EndRangeSelect < StartRangeSelect)
        {
            var temp = StartRangeSelect;
            StartRangeSelect = EndRangeSelect;
            EndRangeSelect = temp;
        }

        ulong minTime = AllTimes.First();
        ulong maxTime = AllTimes.Last();

        StartTime = Math.Clamp(StartRangeSelect, minTime, maxTime);
        EndTime = Math.Clamp(EndRangeSelect, minTime, maxTime);

        CurrTime = Math.Clamp(CurrTime, StartTime, EndTime);

        MakeTimeTicks();
        StateHasChanged();
    }
    private void RangeSelectMove(MouseEventArgs args)
    {
        double relXPos = Math.Max(0.0, args.ClientX - RangeParentStartX);
        ulong timeFromPos = GetTimeFromPos(relXPos);
        EndRangeSelect = GetClosestTime(timeFromPos);

        StateHasChanged();
    }
    private void ResetRange(MouseEventArgs args)
    {
        StartTime = AllTimes.First();
        EndTime = AllTimes.Last();

        MakeTimeTicks();
        StateHasChanged();
    }
}